#gamecontainer{
    width: 640px;
    height: 480px;
    background: url(splashscreen.png);
    border: 1px solid black;
}

.gamelayer{
    width: 640px;
    height: 480px;
    position: absolute;
    display:none;
}

/*Pantalla de inicio del juego*/
#gamestartscreen{
    padding-top: 250px;
    text-align: center;
}

#gamestartscreen img{
    margin:10px;
    cursor:pointer;
}

#levelselectscreen{
    padding-top:150px;
    padding-left: 50px;
}

#levelselectscreen input{
    margin:20px;
    cursor:pointer;
    background: url(level.png)no-repeat;
    color:yellow;
    font-size:20px;
    width: 64px;
    height: 64px;
    border:0;
}

/*Pantalla de carga*/
#loadingscreen{
    background: rgba(100, 100, 100, 0.3);
    
}

#loadingmessage{
    margin-top: 400px;
    text-align: center;
    height: 48px;
    color:white;
    background: url(loader.gif)no-repeat center;
    font-size:12px;
    font-family: Arial;
}