#mostrarTemporadaBaja{
	background-color: white;
	padding: 2em;
	position: absolute;
	left:-100%;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

#mostrarTemporadaAlta{
	background-color: white;
	padding: 2em;
	position: absolute;
	left:-100%;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}

#showOffers{
	margin-top: 150px;
	background-color: white;
	padding: 2em;
	position: absolute;
	left:-100%;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}